* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --primary: #5175ff;
  --primary-light: #829cff;
  --primary-lightest: #e3eaff;
  --black: #25293a;
  --black--light: #333950;
  --gray: #747b95;
  --danger: #f05b5b;
  --white: #ffffff;
  --font-family-primary: "Kumbh Sans", sans-serif;
  --box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}

body {
  background-color: var(--gray);
}

.padding-m {
}

.p-m {
  padding: 24px;
}

.p-l {
  padding: 40px !important;
}

.mt-m {
  margin-top: 16px !important;
}

.mb-s {
  margin-bottom: 8px !important;
}

.mb-m {
  margin-bottom: 16px !important;
}

.mb-l {
  margin-bottom: 24px !important;
}

.mb-xl {
  margin-bottom: 32px !important;
}

.mb-xxl {
  margin-bottom: 40px !important;
}

.mb-xxxl {
  margin-bottom: 52px !important;
}
